
 @mixin res($media) {
  @if $media == s {
    @media (max-width: 480px) { @content; }
  }
  @else if $media == m {
    @media (min-width: 481px) and (max-width: 767px) { @content; }
  }
  @if $media == s-m {
    @media (max-width: 767px) { @content; }
  }
}

/********** global ****************/

#top-bar{
  .left{
    float: right;
  }
  .right{
    float: left;
  }
}

#block-lang-dropdown-language{
  float: left;
}

.header__name-and-slogan {
    float: right;
}

/**********  sidebar  ********/

.sidebar-first #content {
    float: left;
}