 @mixin res($media) {
  @if $media == s {
    @media (max-width: 480px) { @content; }
  }
  @else if $media == m {
    @media (min-width: 481px) and (max-width: 767px) { @content; }
  }
  @if $media == s-m {
    @media (max-width: 767px) { @content; }
  }
  @if $media == l {
    @media (max-width: 1195px) { @content; }
  }
}

/********** global ****************/

a, a:link, a:visited{
  text-decoration: none;
  outline: 0;
}

textarea:focus, input:focus{
    outline: 0;
}

*:focus {
    outline: 0;
    outline-style:none;
    outline-width:0;
}

body{
  font-family: 'Open Sans', arial;
  font-size: 15px;
  color: $default;
  font-weight: lighter;
  article{
    a{
      text-decoration: underline!important;
      color: #3399cc;
    }
  }
}

.wrapper, #page, .top{
  @include width;
}

#page{
  @include res(s-m){
    padding: 0;
  }
}

#main{
  @include res(s-m){
    padding: 0;
  }
}

.block{
  margin-bottom: 0;
}

#page-title, .page-title{
  color: $title;
  font-size: 2.5em;
    font-family: 'PT Serif', arial;
  font-weight: normal;
  line-height: 0.9em;
  p{
    margin: 0;
  }
}

#page-title{
  @include res(s-m){
    display: none;
  }
}

.page-title{
  display: none;
  @include res(s-m){
    display: block;
  }
}

#content{
  padding: 0;
}

.links.inline{
  clear: both;
  display: block;
}

/**********  header  ********/

#top-bar{
  font-size: 0.9em;
  background-color: #2f2f2f;
  color: #fff;
  overflow: hidden;
  @include res(s-m){
    display: none;
  }
  a{
    color: #fff;
  }
  .left{
    float: left;
    padding: 7px 0;
  }
  .right{
    float: right;
    padding: 7px 0;
    .welcome{
      background: url("../images/icon_user.png") no-repeat left center transparent;
      padding-left: 20px;
      div{
        display: inline;
      }
    }
    .logout{
      margin-left: 47px;
    }
  }
  img{
    padding: 0 3px;
  }
}

.top{
  font-family: 'PT Sans', arial;
  padding-top: 19px;
  @include res(s-m){
    display: none;
  }
  .top-left{
    float: left;
    .social-icons{
      div{
        display: inline;
      }
      .pinterest{
        margin-right: 3px;
      }
    }
  }
  #block-menu-menu-top-menu{
    float: right;
    padding-top: 9px;
    ul{
      padding: 1px 0 0 0;
      margin: 0;
      li{
        list-style-type: none;
        display: inline;
      }
      a{
        color: #333;
        font-size: 1.1em;
        border-right: 1px solid;
        padding-right: 7px;
        margin-right: 7px;
        text-transform: uppercase;
      }
      .last a{
        border:none;
      }
    }
  }
}

.wrapper-navigation{
  position: relative;
  z-index: 300;
  @include res(s-m){
    position: fixed;
    width: 100%;
    top: 46px;
  }
}

#header{
  clear: both;
  @include width;
  padding: 15px 3% 0;
  @include res(s-m){
    position: fixed;
    z-index: 200;
  }
  #logo{
    padding-bottom: 50px;
    @include res(s-m){
      display: none;
    }
  }
  #name-and-slogan{
    @include res(s-m){
      width: 74%;
      text-align: center;
    }
  }
  #site-name a{
      font-family: "Oswald",arial;
      font-size: 1.24em;
      letter-spacing: 4px;
      padding-top: 2px;
      text-transform: uppercase;
      color: #303030;
      margin-left: 23px;
      font-weight: normal;
      @include res(s-m){
        color: #fff;
        font-size: 0.8em;
        margin: 0;
      }
      &:hover{
        text-decoration: none;
      }
    }
  @include res(s-m){
    padding: 0;
    background-color: $blue;
  }
}

#block-menu-menu-square, #block-menu-menu-square--2{
  float: right;
  ul{
    margin: 0;
    padding: 0;
  }
  li{
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .menu a{
    text-transform: uppercase;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: #fff;
    display: block;
    float: right;
    padding: 42px 0px 10px;
    width: 77px;
    font-family: 'Oswald', arial;
    color: #fff;
    margin-left: 15px;
    border-radius: 3px;
    text-align: center;
    background-color: $azure;
  }
  .first a{
    background-color: $blue;
  }
  .last a{
    background-color: #8f0673;
  }
}

.region-header{
  clear: right;
}

#block-menu-menu-square{
  @include res(s-m){
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 300;
    li{
      a{
        border-radius: 0!important;
        margin: 0!important;
        width: 33.3333%!important;
        padding: 10px 0!important;
        text-decoration: none!important;
      }
    }
  }
}

#block-menu-menu-square--2{
  @include res(s-m){
    display: none;
  }
}

/***********  responsive menu ************/

.menu-button{
  display: none;
  z-index: 200;
  cursor: pointer;
  width: 13%;
  float: left;
  margin-top: 10px;
  @include res(s-m){
    display: inline-block;
  }
  span{
    width: 20px;
    height: 2px;
    margin-bottom: 4px;
    background-color: #fff;
    display: block;  
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
  }
  .lines{
    float: left;
    padding-left: 7px;
    padding-top: 6px;
  }
}

.display-menu .menu-button{
  span{
    margin: 0;
  }
  .line1{
    transform: rotate(45deg);
    -ms-transform: rotate(45deg); 
    -webkit-transform: rotate(45deg); 
    margin-top: 6px;
  }
  .line2{
    display: none;
  }
  .line3{
    margin-top: -2px;
    transform: rotate(135deg);
    -ms-transform: rotate(135deg); 
    -webkit-transform: rotate(135deg); 
  }
}

.inside-page{
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.display-menu{
  #navigation{
    margin: 0;
  }
  /*.inside-page{
    margin-left: 100%;
    height: 0;
    overflow: hidden;
  }*/
}


/**********  lang block  ********/

#block-lang-dropdown-language{
  float: right;
  padding-top: 7px;
 .form-type-select {
    overflow: hidden;
    float: left;
    width: 100%;
    line-height: 31px;
    background:  url("../images/select.png") no-repeat right center #eee;
    text-align:-moz-center;
    text-align:-webkit-center;
    margin: 0;
    height: 25px;
    border-radius: 3px 0 0 3px;
  }
  .form-type-select select {
    width: 107%;
    padding: 0px 23px 0 0;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: “”;
    font-size: 17px;
    border: 0 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    max-width: 150%;
    height: 27px;
    color: $default;
    text-align: center;
    font-size: 1.1em;
    text-transform: uppercase;
  }
  .form-type-select select::-ms-expand {
    display: none;
  }
}

/**********  main-menu ********/

#navigation{
  height: auto;
  font-family: 'Oswald', arial;
  position: relative;
  background-color: $blue;
  width: 100%;
  padding: 0;
  overflow: hidden;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  @include res(s-m){
    margin-left: -100%;
    position: absolute;
  }
  #main-menu{
    float: left;
    width: auto;
    background:  url("../images/menu.png") no-repeat left center transparent;
    overflow: hidden;
    padding: 11px 0 0px 53px;
    @include res(s-m){
      background: none;
      padding: 0;
    }
    li{
      padding-right: 22px;
      height: 32px;
      @include res(s-m){
        width: 100%;
      }
    }
    a{
      color: #fff;
      text-transform: uppercase;
      opacity: 0.85;
      font-size: 1.2em;
      height: 32px;
      display: block;
      @include res(s-m){
        text-align: center;
      }
      &:after{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 6px 9px;
        border-color: transparent transparent transparent;
        content: "";
        margin: -1px auto 0;
        display: block;
        @include res(s-m){
          display: none;
        }
      }
    }
    a:hover, a.active{
      opacity: 1;
    }
    a.active:after, a:hover:after{
        border-color: transparent transparent #fff;
        opacity: 0.85;
    }
  }
}

#search-block-form{
  padding-top: 7px;
  float: right;
  input.form-submit{
      background:  url("../images/search.png") no-repeat center center $azure;
      border: none;
      text-indent: -9999px;
      height: 28px;
      width: 28px;
  }
}

/**********  footer  ********/

#footer-wrapper{
  background-color: #2f2f2f;
  font-family: 'PT Sans', arial;
  @include res(s-m){
    display: none;
  }
  #footer{
    @include width;
    .block{
      width: 28%;
      float: left;
      color: #fff;
      padding-right: 5%;
      @include res(s-m){
        width: 100%;
      }
      a{
        color: #fff;
        font-size: 0.9em;
      }
      h2{
        font-size: 1.5em;
        font-weight: normal;
        margin-top: 15px;
      }
      ul{
        margin-top: 10px;
        padding: 0;
        li{
          list-style-type: none;
          list-style-image: none;
          border-bottom: 1px dotted #fff;
          padding: 0;
          margin: 0;
        }
      }
    }
    #block-block-5{
      padding-right: 0;
      width: 34%;
      .content div{
        display: inline;
        margin-right: 2px;
        a{
          background:  url("../images/social-footer.png") no-repeat;
          display: block;
          float: left;
          height: 49px;
          width: 49px;
          text-indent: -9999px;
        }
      }
      .facebook a{
        background-position: 0 0!important;
      }
      .twitter a{
        background-position: -59px 0px!important;
      }
      .pinterest a{
        background-position: -115px 0px!important;
      }
      .youtube a{
        background-position: -173px 0px!important;
      }
      .instagram a{
        background-position: -232px 0px!important;
      }
    }
    #block-menu-menu-square--2{
      padding-right: 0;
      width: 34%;
      ul{
        margin: 0;
      }
      a{
        border-radius: 0;
        float: right;
        margin-right: 0;
        margin-left: 15.5%;
        width: 23%;
      }
      .last a{
        margin-left: 0;
      }
    }
  }
}

#bottom-wrapper{
  background-color: #113650;
  font-family: 'PT Sans', arial;
  font-size: 0.9em;
  color: #fff;
  padding: 36px 0;
  @include res(s-m){
    padding-bottom: 75px;
    background-color: #2f2f2f;
  }
  .region-bottom{
    @include width;
    p{
      margin: 0;
    }
  }
}

/**********  sidebar  ********/

.sidebar-first .region-sidebar-first {
    margin-left: 0!important;
    margin-right: 0!important;
    width: 25%!important;
}

.sidebar-first #content {
    float: right;
    margin-left: 0!important;
    margin-right: 0!important;
    width: 75%!important;
}

.sidebar-second .region-sidebar-second {
    margin-left: 0!important;
    margin-right: 0!important;
    width: 20%!important;
    padding: 0 0 0 4%;
    float: right;
}

.sidebar-second #content {
    float: left;
    margin-left: 0!important;
    margin-right: 0!important;
    width: 80%!important;
}

/********  breadcrumb  ********/

.breadcrumb{
    background-color: #e8e8e8;
    padding: 9px 0;
    font-family: 'PT Sans', arial;
    @include res(s-m){
      display: none;
    }
    ol{
      @include width;
    }
    a{
      color: $default;
    }
}

/********  book page  ********/

.node-type-book{
  &.sidebar-second .region-sidebar-second{
    @include res(s-m){
      display: none;
    }
  }
    #content {
      float: left;
      margin-left: 0!important;
      margin-right: 0!important;
      width: 80%!important;
      @include res(s-m){
        width: 100%!important;
      }
  }
  .jump_link .read{
    color: $azure;
    cursor: pointer;
    text-decoration: underline;
  }
  .field-name-body, .field-name-field-teaser-long-text, .field-name-field-teaser-qoate{
    font-size: 1.1em;
    line-height: 2em;
  }
  .field-name-field-teaser-qoate, .quote{
    font-style: italic;
  }
  .field-name-field-quote-name, .quote-author{
    font-size: 0.9em;
  }
  #main-menu{
    .menu-1095 a{
      opacity: 1!important;
    }
    .menu-1095 a:after{
        border-color: transparent transparent #fff!important;
        opacity: 0.85!important;
    }
  }
  .addthis_sharing_toolbox{
    height: 21px;
      float: left;
  margin-right: 10px;
  width: 120px;
  }
  .share-links{
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
  }
  #at4m-dock, .at4m-dock-toggle, .addthis-smartlayers-mobile{
    display: none;
  }
  .block-book{
    width: 24%;
    margin-right: 4%;
    float: left;
    h2{
      display: none;
    }
  }
  article{
    width: 72%;
    float: right;
    margin-bottom: 40px;
    padding-top: 44px;
    @include res(s-m){
      width: 100%;
      padding: 0 3%;
      box-sizing: border-box;
    }
  }
  .book-navigation{
    clear: both;
    width: 100%;
    border-top: 1px solid #e7e7e7;
    font-family: 'PT Serif', arial;
    padding: 20px 0 40px;
    overflow: hidden;
    @include res(s-m){
      border: none;
      padding: 6px 0;
      overflow: hidden;
      img{
        display: none;
      }
    }
    ul.menu{
    overflow: hidden;
      display: none;
    }
   .page-links{
      border:none;
      width: 85%;
      float: right;
      position: relative;
      @include res(s-m){
        width: 100%;
        padding: 0;
      }
    }
    .right-arrow{
        background:  url("../images/right-arrow.png") no-repeat center center transparent;
        @include res(s-m){
          clear: right;
          float: right!important;
        }
    }
    .left-arrow{
        background:  url("../images/left-arrow.png") no-repeat center center transparent;
        @include res(s-m){
          clear: left;
          float: left!important;
        }
    }
    .arrow{
      padding-top: 44px;
      width: 14px;
      height: 23px;
    }
    .current-page{
      margin: 0 auto;
      position: absolute;
      width: 100%;
      z-index: -2;
      right: -1px;
      @include res(s-m){
        display: none;
      }
      .book-title{
        font-size: 1.1em;
        color: #000;
        line-height: 1.2em;
        width: 30%;
        margin: 3px auto 0;
        text-align: left;
        padding: 0 20px;
        box-sizing: border-box;
      }
      .current{
        font-size: 0.9em;
        color: #666666;
        text-align: left;
        width: 30%;
        margin: 3px auto 0;
        padding: 0 20px;
        box-sizing: border-box;
      }
    }
    .page-title{
      width: 35%;
      float: left;
    }
    .page-previous{
      float: left;
      @include res(s-m){
        width: 49%;
        margin: 0;
        float: left;
        background-color: #ecedee;
        padding: 15px 15px 0;
        box-sizing: border-box;
        font-size: 0.9em;
        .title{
          margin-bottom: 10px;
        }
      }
      img{
        float: right;
        margin-left: 10px;
        margin-top: 5px;
        padding-bottom: 40px;
      }
      .left-arrow{
        float: right;
        width: 10%;
      }
      .text{
        float: left;
        width: 85%;
        @include res(s-m){
          width: 100%;
        }
      }
    }
    .page-next{
      margin-left: 2%;
      float: right;
      @include res(s-m){
        width: 49%;
        margin: 0;
        float: right;
        background-color: #ecedee;
        padding: 15px 15px 0;
        box-sizing: border-box;
        font-size: 0.9em;
        .title{
          margin-bottom: 10px;
        }
      }
      img{
        float: left;
        margin-right: 10px;
        margin-top: 5px;
        padding-bottom: 40px;
      }
      .right-arrow{
        float: left;
        width: 10%;
      }
      .text{
        float: right;
        width: 85%;
      }
    }
    .text{
        .title{
          font-size: 14px;
          color: $title;
          line-height: 1.5em;
          text-align: left;
        }
        .next, .previous{
          font-size: 14px;
          color: #666666;
        }
    }
  }
}

#block-book-navigation .menu {
  font-family: 'PT Sans', arial;
  padding: 0;
  a{
    color: #666;
    display: block;
    width: 100%;
    border-bottom: 1px solid #bbb;
    padding: 10px 20px 10px 5px;
    box-sizing: border-box;
  }
  .is-collapsed > a{
    background:  url("../images/navigate-right.png") no-repeat right center transparent;
  }
  .is-expanded > a{
    background:  url("../images/navigate-bottom.png") no-repeat right center transparent;
    color: $title;
  }
  a.active{
    color: $title;
    @include res(s-m){
      font-weight: bold;
    }
  }
  li{
    list-style-type: none;
    list-style-image: none;
    li a{
      background-color: #e8e8e8;
      padding-left: 30px;
    }
    li a.active{
      background-color: #1d8fc4;
      color: #fff!important;
      @include res(s-m){
        color: $azure!important;
        font-weight: bold;
      }
    }
  }
}

#quicktabs-tabpage-book_page-0{
  article{
    margin: 0;
    padding: 0;
    width: 100%;
    float: none;
  }
  .views-row{
      width: 48%;
      float: right;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #e3e3e3;
      clear: right;
      margin-left: 2%;
      position: relative;
  }
  .views-row-1{
    clear: left;
    float: left;
    margin: 0;
    padding: 0;
    border-bottom: none;
    .node-type{
      width: 100%;
      float: right;
    }
    .field-name-field-gallery-type{
      width: 100%;
      padding-top: 7px;
    }
     .views-field-field-artifacts-images, .field-type-video-embed-field, .field-name-field-artifacts-images img, .doc-image,
     .field-name-field-map-images{
      position: relative;
      overflow: hidden;
      width: 100%;
      margin-right: 0;
      display: block;
    }
    .field-name-field-file-image-title-text, .title, .file a, .field-name-field-video-title{
      width: 100%;
      padding-left: 0;
      font-size: 1.3em!important;
      float: left;
    }
    .field-collection-container{
      width: 100%;
    }
  }
  .field-name-field-gallery-type, .node-type, .Testimonies{
    width: 67%;
    float: right;
    font-style: italic;
  }
  .Testimonies .field-name-field-video-title{
    width: 100%;
  }
  .field-collection-container{
      width: 30%;
      float: left;
      margin-right: 2%;
      display: block;
      .field-name-field-video{
        width: 100%;
      }
  }
  .views-row-last{
    border-bottom: 0;
    margin-bottom: 0;
  }
  .field-name-field-file-image-title-text, .views-field-title, .title, .file a, .field-name-field-video-title{
        margin: 0;
        font-size: 1.1em;       
        width: 67%;       
        float: right;         
        padding-left: 1%;
        color: #3399cc;
        text-align:left;
        text-decoration: none!important;
        max-height: 72px;
        overflow: hidden;
        a{
          text-decoration: none!important;
        }
  }
  .file img{
    display: none;
  }
  .node-type{
      width: 67%;
      float: right;
  }
  .video-sign{
      position: absolute;
      top: 33px;
  }
  .views-field-field-artifacts-images, .field-type-video-embed-field, .field-name-field-artifacts-images img, .doc-image,
  .field-name-field-map-images{
      width: 30%;
      float: left;
      margin-right: 2%;
      display: block;
  }
}

// responsive book-menu

.node-type-book .block-book{
    @include res(s-m){
      width: 100%;
      position: fixed;
      top: 46px;
      z-index: 200;
      h2{
        background-color: $azure;
        padding: 10px;
        color: #fff;
        display: block;
        font-size: 1.2em;
        cursor: pointer;
        &:before{
          content: "+";
          padding-right: 15px;
          font-weight: bold;
        }
      }
      ul{
        max-height: 0;
        overflow: hidden;
        margin: 0;
        transition: all 0.5s;
        -webkit-transition: all 0.5s;
      }
      li a{
        padding: 10px 10px 10px 20px!important;
        background-color: #ebedee!important;
        color: $azure!important;
        background-image: none!important;
        border-bottom: 1px solid #fff!important;

      }
      li ul{
        a{
          background-color: #fff!important;
          padding: 10px 10px 10px 55px!important; 
        }
      }
      li.is-collapsed > a{
        &:before{
          content: "+";
          padding-right: 15px;
          font-weight: bold;
        }
      }
      li.expanded > a.active-trail:before{
          content: "-";
          padding-right: 15px;
          font-weight: bold;
      }
    }
}


//  responsive tabs

.node-type-book .mobile-tabs{
  display: none;
  width: 100%;
  overflow: hidden;
  @include res(s-m){
    display: block;
  }
  .views-row{
    text-align: center;
    color: $title;
    font-family: "PT Serif",arial;
    .views-field{
      background-image: -ms-linear-gradient(top, #F6F8F8 0%, #dbdedf 100%);
      background-image: -moz-linear-gradient(top, #F6F8F8 0%, #dbdedf 100%);
      background-image: -o-linear-gradient(top, #F6F8F8 0%, #dbdedf 100%);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F6F8F8), color-stop(100, #dbdedf));
      background-image: -webkit-linear-gradient(top, #F6F8F8 0%, #dbdedf 100%);
      background-image: linear-gradient(to bottom, #F6F8F8 0%, #dbdedf 100%);
      padding: 15px;
      .field-content{
        display: block;
       background:  url("../images/mobile-tab.png") no-repeat right center transparent;
      }
    }
  }
}

.mobile-main-gallery{
  display: none;
  @include res(s-m){
    display: block;
    position: relative;
  }
  .views-slideshow-cycle-main-frame-row{
    position: relative;
    img{
      margin-bottom: -6px;
    }
  }
  .views-slideshow-cycle-main-frame, .views-slideshow-cycle-main-frame-row{
    max-width: 100%;
  }
  .views-slideshow-controls-bottom{
    position: absolute;
    top: 40%;
    z-index: 150;
    width: 100%;
    span{
      position: absolute;
    }
    a{
      text-indent: -9999px;
      background:  url("../images/arrow-mobile.png") no-repeat center center #000;
      display: block;
      width: 30px;
      padding: 5px 0;
    }
    .views-slideshow-controls-text-pause{
      display: none;
    }
    .views-slideshow-controls-text-previous{
      left: 0;
      a{
        background-position: 0 5px;
      }
    }
    .views-slideshow-controls-text-next{
      right: 0;
      a{
        background-position: -32px 5px;
      }
    }
  }
  .field-name-field-file-image-title-text{
    position: absolute;
    color: #fff;
    background-color: #999;
    padding: 5px 10px;
    font-family: 'PT Serif', arial;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 30px;
    display: none;
    font-size: 0.8em;
    line-height: 1.5em;
  }
  .view-footer{
    position: absolute;
    bottom: 0;
    z-index: 150;
    right: 0;
    .description-button{
      background-color: #000;
      border-left: 2px solid #fff;
      border-top:2px solid #fff;
      cursor: pointer;
      width: 24px;
      text-align: center;
      color: #fff;
      font-family: 'PT Serif', arial;
      font-weight: bold;
      .display{
        display: none;
      }
    }
  }
}

#nerative_body{
      transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.display-description{
    .field-name-field-file-image-title-text{
      display: block;
    }
    .description-button{
      .hide{
        display: none;
      }
      .display{
        display: block!important;
      }
    }
    #nerative_body{
      margin-top: 85px;
    }
}

#nerative_tabs{
  @include res(s-m){
    display: none;
  }
}
.node-type-book.display-menu-book .block-book{
  ul{
    height: auto;
    max-height: 2000px;
  }
  h2:before{
    content: "-";
  }
}

#quicktabs-book_page{
    font-family: 'PT Serif', arial;
  margin-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 25px;
  border-bottom: 1px solid #d7d7d7;
  overflow: hidden;
  ul.quicktabs-tabs {
    margin-bottom: 0;
  }
  .quicktabs-tabs{
    padding: 0 0 12px 26px;
    overflow: hidden;
    width: 183%;
    li{
      width: 6%;
      display: block;
      float: left;
      padding: 10px 1.2%;
    }
    li a{
        background:  url("../images/tabs_icons.png") no-repeat center center transparent;
        font-size: 0.85em;
        font-family: 'PT Sans', arial;
        color: #333;
        text-decoration: none!important;
        display: inline-block;
        padding-top: 22px;
        text-align: center;
        width: 100%;
    }
    li.active{
      background-color: #f1f1f1;
    }
    li.active a{
        background:  url("../images/tabs_icons_active.png") no-repeat center center transparent;
        color: #2692c6;
    }
    a#quicktabs-tab-book_page-0{
      background-position: 22px 0;
    }
    a#quicktabs-tab-book_page-1{
      background-position: -68px 0;
    }
    a#quicktabs-tab-book_page-2{
      background-position: -174px 0;
    }
    a#quicktabs-tab-book_page-3{
      background-position: -297px 0;
    }    
    a#quicktabs-tab-book_page-4{
      background-position: -410px 0;
    }
    a#quicktabs-tab-book_page-5{
      background-position: -72px 0;
    }    
    a#quicktabs-tab-book_page-6{
      background-position: -174px 0;
    }
    a#quicktabs-tab-book_page-7{
      background-position: -489px -4px;
    }   
    a#quicktabs-tab-book_page-8{
      background-position: -412px 0;
    }
    a#quicktabs-tab-book_page-9{
      background-position: -412px 0;
    }
    a#quicktabs-tab-book_page-10{
      background-position: -412px 0;
    }
  }
  .item-list{
    position: relative;
    overflow: hidden;
    &.step7 .quicktabs-tabs{
      margin-left: -15.5%;
    }
    &.step8 .quicktabs-tabs{
      margin-left: -31%;
    }
    &.step9 .quicktabs-tabs{
      margin-left: -46.5%;
    }
    &.step10 .quicktabs-tabs{
      margin-left: -62%;
    }
    &.step11 .quicktabs-tabs{
      margin-left: -77.5%;
    }
    &.step12 .quicktabs-tabs{
      margin-left: -93%;
    }
  }
  .left{
      background:  url("../images/left-arrow.png") no-repeat left center #fff;
      width: 25px;
      height: 100%;
      cursor: pointer;
      position: absolute;
      left: 0;
      opacity: 0.4;
      top: 0;
  }
  .quicktabs-tabs{
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    margin-left: 0;
  }
  .right{
      background:  url("../images/right-arrow.png") no-repeat right center #fff;
      width: 25px;
      height: 100%;
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 0;
    }
    .item-list.step12{
      .left{
        opacity: 1;
      }
    }
    .step7, .step8, .step9, .step10, .step11{
      .left{
        opacity: 1;
      }
    }
    .last{
      .right{
        opacity: 0.4;
      }
    }
    .item-list.no-step{
      .right, .left{
        display: none;
      }
    }
}



.field-collection-container, .field-collection-view{
  border:none;
  margin: 0;
  padding: 0;
}
  /*top links*/

.node-type-book {
  .top-links{
    @include res(s-m){
      display: none;
    }
    div{
      float: left;
    }
    a{
      color: #0099cc;
      font-style: 0.9em;
      text-decoration: none!important;
      text-transform: uppercase;
      font-family: 'PT Sans', arial;
      border-right: 1px solid;
      margin-right: 10px;
      padding-right: 10px;
    }
    .save_flag a{
      border: none;
    }
  }
}


/*********  right sidebar at page books  **********/

.region-sidebar-second .block{
    margin-bottom: 40px;
    font-family: 'PT Serif', arial;
    background-color: #848484;
    padding-bottom: 10px;
}

#block-views-right-links-at-book-block, #block-views-right-links-at-book-block-1{
  padding-bottom: 4px;
  position: relative;
  .views-slideshow-controls-text-previous-processed, .views-slideshow-controls-text-pause-processed{
    display: none;
  }
  .block-title{
    color: #fff;
    background-color: #1d8fc4;
    font-weight: normal;
    font-size: 1.2em;
    text-align: center;
  }
  .bottom-text{
    padding: 0px 14px 10px;
    margin-top: -4px;
    color: #fff;
  }
  .views-field-field-second-title a, a .views-field-field-second-title{
    color: #fff;
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  .title{
    font-size: 1.1em;
  }
  .second-title{
    font-style: italic;
  }
  .text{
    line-height: 1.1em;
  }
  .views-slideshow-controls-text-next a{
    background: #000 url("../images/right-arrow-white.png") no-repeat scroll center center;
    height: 33px;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    top: 40%;
    width: 35px;
    z-index: 200;
  }
}

#block-views-right-links-at-book-block{
  .block-title{
    background-color: #792a67;
  }
}

#block-views-right-links-at-book-block-1{
  .views-slideshow-controls-text-next a{
      top:47.4%;
  }
}

#block-views-right-links-at-book-block-2{
  .bottom-text{
    color: #fff;
    font-weight: normal;
    font-size: 1.1em;
    padding: 0px 14px;
  }
}

#block-views-right-links-at-book-block-3{
  background-color: #1d8fc4;
  padding: 12px 14px 28px;
  color: #fff;
  .block-title{
    font-style: italic;
    font-size: 0.9em;
    font-weight: normal;
  }
  .views-field-title{
    font-size: 1.4em;
    margin: 5px 0 10px;
  }
  .views-field-field-second-title{
    font-size: 1.1em;
    margin-bottom: 10px;
  }
  .views-field-field-text .field-content{
    float: left;
    font-size: 1.2em;
    color: #1d8fc4;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 5px 10px;
  }
  .views-field-field-link{
    a{
      font-size: 0.9em;
      color: #fff;
      background: url("../images/little-right-arrow.png") no-repeat scroll center right;
      width: 90%;
      display: block;
      clear: left;
    }
  }
}


/*********  testemonies tabs **********/

.view-books-tab.view-display-id-block_6{
  .view-header{
    display: none;
  }
  .views-row-odd{
    clear: both;
  }
  .views-row{
    width: 48%;
  }
  .views-row-odd{
    float: left;
  }
  .views-row-even{
    float: right;
  }
  .field-name-field-video-title{
    max-height: 72px;
    overflow: hidden;
  }
}

.view-books-tab.view-display-id-block_6.one-two{
  .views-row-1{
    width: 48%;
  }
  .views-row-2{
    width: 48%;
  }
}

.view-books-tab.view-display-id-block_6.three-five{
  .views-row{
    .field-name-field-video{
      float: left;
      width: 50%;
      margin-right: 2%;
      margin-bottom: 20px;
    }
  }
  .field-name-field-video-title{
    float: right;
    width: 48%;
  }
}

.view-books-tab.view-display-id-block_6.six-more{
  .views-row{
    border-top: 1px solid #e5e5e5;
    padding-top: 20px;
    .field-name-field-video{
      float: left;
      width: 30%;
      margin-right: 5%;
      margin-bottom: 20px;
    }
  }
  .views-row-1, .views-row-2{
    border: none;
  }
  .field-name-field-video-title{
    float: right;
    width: 65%;
  }
}

.view-books-tab.view-display-id-block_5 , 
.view-books-tab.view-display-id-block_7 {
    .views-field-field-files{
        font-size: 1.1em;    
        position: relative;  
        a{
          text-decoration: none!important;
          position: relative;
          margin-bottom: 35px;
          width: 78%;
          float: right;
          max-height: 72px;
          overflow: hidden; 
        }
    }
    .views-row-odd{
      clear: both;
    }
    .views-row{
      width: 48%;
      border-top: 1px solid #e5e5e5;
      padding-top: 20px;
    }
    .views-row-odd{
      float: left;
    }
    .views-row-even{
      float: right;
    }
    .views-row-1, .views-row-2{
      border: none;
    }
    img{
      margin-right: 2%;
      width: 20%;
    }
}

/********   usefull article   **********/

.field-name-field-helpful{
  clear: both;
  margin-top: 55px;
  .field-label{
    display: none;
  }
  .is-useful-widget{
    @include res(s){
      float: left;
      clear: left;
      margin: 20px 0;
    }
  }
  .is-useful-maybe{
    display: none;
  }
  .is-useful-link{
    float: left;
    margin-left: 20px;
    @include res(s){
      margin-left: 0;
      margin-right: 20px;
    }
    a{
      color: #666;
      background: url("../images/useful.png") no-repeat left center #e6e6e6;
      text-decoration: none!important;
      padding: 9px 18px 9px 35px;
    }
    &.selected a{
      background-color: #ea8418;
      color: #fff;
    }
  }
  .is-useful-yes a{
    background-position: left -146px;
  }
  .is-useful-yes.selected a{
    background-position: left -56px;

  }
  .is-useful-no a{
    background-position: left -100px;
  }
  .is-useful-no.selected a{
    background-position: left -7px;
  }
  label{
    font-family: 'PT Sans', arial;
    font-weight: normal;
    font-size: 1.2em;
    float: left;
  }
}

.node-type-book #comments{
  display: none;
  #field-why-helpful-add-more-wrapper, #comment-body-add-more-wrapper{
    clear: left;
    label{
      font-family: 'PT Sans', arial;
      font-weight: normal;
    }
    .grippie, .form-required{
      display: none;
    }
    textarea{
      border: 1px solid #b8b8b8;
    }
    .form-item{
      margin-bottom: 5px;
    }
  }
  input.form-submit{
    background-color: #238ec3;
    color: #fff;
    border: none;
    padding: 0 5px;
    float: right;
  }
}

.node-type-book #comments.display{
  display: block;
}

.is_useful-processed{
  position: relative;
}

.ajax-progress-throbber {
    display: none;
}


// Theme the gallery 
.fotorama {
  background-color: #EAEAEA;
  .fotorama__wrap , 
  .fotorama__stage ,
  .fotorama__stage__frame ,
  .fotorama__stage__shaft  {
    width: 100% !important;
  }
  .fotorama__stage {
    border:0; 
  }
  .fotorama__stage__frame.fotorama__active {
    max-width: 687px !important;
    width: 100%;
    img {
      max-width: 688px !important;
      width: 100%;
    }
  }
  .fotorama__nav-wrap {
    height: 80px;
    .fotorama__nav {
      position: relative;
      top: 5px;
    }
    img {
      @include rounded;
      top: 0 !important;
    }
    .fotorama__nav__frame {
      border: 2px solid #fff !important;
      @include rounded;
      padding:0 !important;
      margin-right: 5px;
    }
    .fotorama__thumb {
      background-color: none !important;
    }
    .fotorama__thumb-border {
      border: 0 !important;
      background-image: none !important;
    }
  }
  .fotorama__caption {
    position: absolute;
    z-index: 12;
    bottom: 14px;
    font-size: 14px;
    line-height: 1.5;
    width: 100%;
    color: rgba(255, 255, 255, 0.9);
    .fotorama__caption__wrap {
      background-color: rgba(3, 0, 0, 0.5) !important;
    }
  }
}

// The enlarge icon
.block-costum {
  position: relative;
  #tgl_overlay {
    width: 31px;
    height: 31px;
    top: 10px;
    position: absolute;
    right: 10px;
    left: none;
  }
}

// The overlay
#my_overlay_d1 {
  background-color: rgba(0, 0, 0, 0.71);
  .right_bar {
    width: 28%;
    background-color: rgba(0, 0, 0, 0.39);
  }
  #mid_d1 {
    width: 72%;
    margin: 7% auto;
  }
  .img_count {
    float: left;
  }
  .addthis_native_toolbox {
    margin-right: -40px;
  }

  div#mid .wrapper,
  #fotorama_ovr {
    max-width:750px;
    width: 100%;
  }
  .fotorama__stage {
    border: 10px;
  }
  // Right side overlay
  .wrapper {
    margin-top: 60px;
    padding:0 10% 0 3%;
  }
  .closeBtn {
    float: right;
    text-decoration: none;
    color: #fff;
    margin-bottom: 30px;
  }
  h3 {
    clear: both;
    padding: 10px 0px !important;
    border-top: 2px solid;
  }
}

// Bockmarks tab

#block-views-flag-bookmarks-block-1 {
  background-color: transparent;
  .views-field-title a {
    color: $blue;
  }
  .flag {
    color: $azure !important;
  }
}
