
/********** global ****************/

a, a:link, a:visited{
  text-decoration: none;
  outline: 0;
}

textarea:focus, input:focus{
    outline: 0;
}

*:focus {
    outline: 0;
    outline-style:none;
    outline-width:0;
}

body{
  font-family: 'Open Sans', arial;
  font-size: 15px;
  color: $default;
  font-weight: lighter;
  article{
    a{
      text-decoration: underline!important;
      color: #3399cc;
    }
  }
}

.wrapper, #page, .top{
  @include width;
}

.block{
  margin-bottom: 0;
}

#page-title{
  color: $title;
  font-size: 2.5em;
    font-family: 'PT Serif', arial;
  font-weight: normal;
  line-height: 0.9em;
  p{
    margin: 0;
  }
}

#content{
  padding: 0;
}

.links.inline{
  clear: both;
  display: block;
}

/**********  header  ********/

#top-bar{
  font-size: 0.9em;
  background-color: #2f2f2f;
  color: #fff;
  overflow: hidden;
  a{
    color: #fff;
  }
  .left{
    float: left;
    padding: 7px 0;
  }
  .right{
    float: right;
    padding: 7px 0;
    .welcome{
      background: url("../images/icon_user.png") no-repeat left center transparent;
      padding-left: 20px;
      div{
        display: inline;
      }
    }
    .logout{
      margin-left: 47px;
    }
  }
  img{
    padding: 0 3px;
  }
}

.top{
  font-family: 'PT Sans', arial;
  padding-top: 19px;
  .top-left{
    float: left;
    .social-icons{
      div{
        display: inline;
      }
      .pinterest{
        margin-right: 3px;
      }
    }
  }
  #block-menu-menu-top-menu{
    float: right;
    padding-top: 9px;
    ul{
      padding: 1px 0 0 0;
      margin: 0;
      li{
        list-style-type: none;
        display: inline;
      }
      a{
        color: #333;
        font-size: 1.1em;
        border-right: 1px solid;
        padding-right: 7px;
        margin-right: 7px;
        text-transform: uppercase;
      }
      .last a{
        border:none;
      }
    }
  }
}

#header{
  clear: both;
  @include width;
  padding: 15px 3% 0;
  #logo{
    padding-bottom: 50px;
  }
}

#block-menu-menu-square, #block-menu-menu-square--2{
  float: right;
  ul{
    margin: 0;
    padding: 0;
  }
  li{
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .menu a{
    text-transform: uppercase;
    text-decoration-line: underline;
    text-decoration-style: dotted;
    text-decoration-color: #fff;
    display: block;
    float: right;
    padding: 42px 0px 10px;
    width: 77px;
    font-family: 'Oswald', arial;
    color: #fff;
    margin-left: 15px;
    border-radius: 3px;
    text-align: center;
    background-color: $azure;
  }
  .first a{
    background-color: $blue;
  }
  .last a{
    background-color: #8f0673;
  }
}

.region-header{
  clear: right;
}

/**********  lang block  ********/

#block-lang-dropdown-language{
  float: right;
  padding-top: 7px;
 .form-type-select {
    overflow: hidden;
    float: left;
    width: 100%;
    line-height: 31px;
    background:  url("../images/select.png") no-repeat right center #eee;
    text-align:-moz-center;
    text-align:-webkit-center;
    margin: 0;
    height: 25px;
    border-radius: 3px 0 0 3px;
  }
  .form-type-select select {
    width: 107%;
    padding: 0px 23px 0 0;
    cursor: pointer;
    text-indent: 0.01px;
    text-overflow: “”;
    font-size: 17px;
    border: 0 !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    max-width: 150%;
    height: 27px;
    color: $default;
    text-align: center;
    font-size: 1.1em;
    text-transform: uppercase;
  }
  .form-type-select select::-ms-expand {
    display: none;
  }
}

/**********  main-menu ********/

#navigation{
  height: auto;
  font-family: 'Oswald', arial;
  position: relative;
  background-color: $blue;
  width: 100%;
  padding: 0;
  overflow: hidden;
  #main-menu{
    float: left;
    width: auto;
    background:  url("../images/menu.png") no-repeat left center transparent;
    overflow: hidden;
    padding: 11px 0 0px 53px;
    li{
      padding-right: 22px;
      height: 32px;
    }
    a{
      color: #fff;
      text-transform: uppercase;
      opacity: 0.85;
      font-size: 1.2em;
      height: 32px;
      display: block;
      &:after{
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 6px 9px;
        border-color: transparent transparent transparent;
        content: "";
        margin: -1px auto 0;
        display: block;
      }
    }
    a:hover, a.active{
      opacity: 1;
    }
    a.active:after, a:hover:after{
        border-color: transparent transparent #fff;
        opacity: 0.85;
    }
  }
}

#search-block-form{
  padding-top: 7px;
  float: right;
  input.form-submit{
      background:  url("../images/search.png") no-repeat center center $azure;
      border: none;
      text-indent: -9999px;
      height: 28px;
      width: 28px;
  }
}

/**********  footer  ********/

#footer-wrapper{
  background-color: #2f2f2f;
  font-family: 'PT Sans', arial;
  #footer{
    @include width;
    .block{
      width: 28%;
      float: left;
      color: #fff;
      padding-right: 5%;
      @include res(s-m){
        width: 100%;
      }
      a{
        color: #fff;
        font-size: 0.9em;
      }
      h2{
        font-size: 1.5em;
        font-weight: normal;
        margin-top: 15px;
      }
      ul{
        margin-top: 10px;
        padding: 0;
        li{
          list-style-type: none;
          list-style-image: none;
          border-bottom: 1px dotted #fff;
          padding: 0;
          margin: 0;
        }
      }
    }
    #block-block-5{
      padding-right: 0;
      width: 34%;
      .content div{
        display: inline;
        margin-right: 2px;
        a{
          background:  url("../images/social-footer.png") no-repeat;
          display: block;
          float: left;
          height: 49px;
          width: 49px;
          text-indent: -9999px;
        }
      }
      .facebook a{
        background-position: 0 0!important;
      }
      .twitter a{
        background-position: -59px 0px!important;
      }
      .pinterest a{
        background-position: -115px 0px!important;
      }
      .youtube a{
        background-position: -173px 0px!important;
      }
      .instagram a{
        background-position: -232px 0px!important;
      }
    }
    #block-menu-menu-square--2{
      padding-right: 0;
      width: 34%;
      ul{
        margin: 0;
      }
      a{
        border-radius: 0;
        float: right;
        margin-right: 0;
        margin-left: 15.5%;
        width: 23%;
      }
      .last a{
        margin-left: 0;
      }
    }
  }
}

#bottom-wrapper{
  background-color: #113650;
  font-family: 'PT Sans', arial;
  font-size: 0.9em;
  color: #fff;
  padding: 36px 0;
  .region-bottom{
    @include width;
    p{
      margin: 0;
    }
  }
}

/**********  sidebar  ********/

.sidebar-first .region-sidebar-first {
    margin-left: 0!important;
    margin-right: 0!important;
    width: 25%!important;
}

.sidebar-first #content {
    float: right;
    margin-left: 0!important;
    margin-right: 0!important;
    width: 75%!important;
}

.sidebar-second .region-sidebar-second {
    margin-left: 0!important;
    margin-right: 0!important;
    width: 20%!important;
    padding: 0 0 0 4%;
    float: right;
}

.sidebar-second #content {
    float: left;
    margin-left: 0!important;
    margin-right: 0!important;
    width: 80%!important;
}

/********  breadcrumb  ********/

.breadcrumb{
    background-color: #e8e8e8;
    padding: 9px 0;
    font-family: 'PT Sans', arial;
    ol{
      @include width;
    }
    a{
      color: $default;
    }
}

/********  book page  ********/

.node-type-book{
    #content {
      float: left;
      margin-left: 0!important;
      margin-right: 0!important;
      width: 80%!important;
  }
  .jump_link .read{
    color: $azure;
    cursor: pointer;
    text-decoration: underline;
  }
  .field-name-body, .field-name-field-teaser-long-text, .field-name-field-teaser-qoate{
    font-size: 1.1em;
    line-height: 2em;
  }
  .field-name-field-teaser-qoate, .quote{
    font-style: italic;
  }
  .field-name-field-quote-name, .quote-author{
    font-size: 0.9em;
  }
  #main-menu{
    .menu-1095 a{
      opacity: 1!important;
    }
    .menu-1095 a:after{
        border-color: transparent transparent #fff!important;
        opacity: 0.85!important;
    }
  }
  .addthis_sharing_toolbox{
    height: 21px;
      float: left;
  margin-right: 10px;
  width: 120px;
  }
  .share-links{
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .block-book{
    width: 24%;
    margin-right: 4%;
    float: left;
  }
  article{
    width: 72%;
    float: right;
    margin-bottom: 40px;
    padding-top: 44px;
  }
  .book-navigation{
    clear: both;
    width: 100%;
    border-top: 1px solid #e7e7e7;
    font-family: 'PT Serif', arial;
    padding: 40px 0;
    overflow: hidden;
    ul.menu{
      display: none;
    }
   .page-links{
      border:none;
      width: 85%;
      float: right;
      position: relative;
    }
    .right-arrow{
        background:  url("../images/right-arrow.png") no-repeat center center transparent;
    }
    .left-arrow{
        background:  url("../images/left-arrow.png") no-repeat center center transparent;
    }
    .arrow{
      padding-top: 24px;
      width: 14px;
      height: 23px;
    }
    .current-page{
      margin: 0 auto;
      position: absolute;
      width: 100%;
      z-index: -2;
      .book-title{
        font-size: 1.1em;
        color: #000;
        line-height: 0.9em;
      }
      .current{
        font-size: 0.9em;
        color: #666666;
      }
    }
    .page-title{
      width: 35%;
      float: left;
    }
    .page-previous{
      margin-right: 2%;
      float: left;
      .left-arrow{
        float: right;
        width: 10%;
      }
      .text{
        float: left;
        width: 85%;
      }
    }
    .page-next{
      margin-left: 2%;
      float: right;
      .right-arrow{
        float: left;
        width: 10%;
      }
      .text{
        float: right;
        width: 85%;
      }
    }
    .text{
        .title{
          font-size: 1.1em;
          color: $title;
          line-height: 0.9em;
        }
        .next, .previous{
          font-size: 0.9;
          color: #666666;
        }
    }
  }
}

#block-book-navigation .menu{
  font-family: 'PT Sans', arial;
  padding: 0;
  a{
    color: #666;
    display: block;
    width: 100%;
    border-bottom: 1px solid #bbb;
    padding: 10px 20px 10px 5px;
    box-sizing: border-box;
  }
  .is-collapsed > a{
    background:  url("../images/navigate-right.png") no-repeat right center transparent;
  }
  .is-expanded > a{
    background:  url("../images/navigate-bottom.png") no-repeat right center transparent;
    color: $title;
  }
  a.active{
    color: $title;
  }
  li{
    list-style-type: none;
    list-style-image: none;
    li a{
      background-color: #e8e8e8;
      padding-left: 30px;
    }
    li a.active{
      background-color: #1d8fc4;
      color: #fff!important;
    }
  }
}

#quicktabs-tabpage-book_page-0{
  article{
    margin: 0;
    padding: 0;
    width: 100%;
    float: none;
  }
  .views-row{
      width: 48%;
      float: right;
      padding-bottom: 20px;
      margin-bottom: 20px;
      border-bottom: 1px solid #e3e3e3;
      clear: right;
      margin-left: 2%;
      position: relative;
  }
  .views-row-1{
    clear: left;
    float: left;
    margin: 0;
    padding: 0;
    border-bottom: none;
    .node-type{
      width: 100%;
      float: right;
    }
    .field-name-field-gallery-type{
      width: 100%;
      padding-top: 7px;
    }
     .views-field-field-artifacts-images, .field-type-video-embed-field, .field-name-field-artifacts-images img, .doc-image,
     .field-name-field-map-images{
      position: relative;
      overflow: hidden;
      width: 100%;
      margin-right: 0;
      display: block;
    }
    .field-name-field-file-image-title-text, .title, .file a, .field-name-field-video-title{
      width: 100%;
      padding-left: 0;
      font-size: 1.3em!important;
      float: left;
    }
    .field-collection-container{
      width: 100%;
    }
  }
  .field-name-field-gallery-type, .node-type, .Testimonies{
    width: 67%;
    float: right;
    font-style: italic;
  }
  .Testimonies .field-name-field-video-title{
    width: 100%;
  }
  .field-collection-container{
      width: 30%;
      float: left;
      margin-right: 2%;
      display: block;
      .field-name-field-video{
        width: 100%;
      }
  }
  .views-row-last{
    border-bottom: 0;
    margin-bottom: 0;
  }
  .field-name-field-file-image-title-text, .views-field-title, .title, .file a, .field-name-field-video-title{
        margin: 0;
        font-size: 1.1em;       
        width: 67%;       
        float: right;         
        padding-left: 1%;
        color: #3399cc;
        text-align:left;
        text-decoration: none!important;
        max-height: 72px;
        overflow: hidden;
        a{
          text-decoration: none!important;
        }
  }
  .file img{
    display: none;
  }
  .node-type{
      width: 67%;
      float: right;
  }
  .video-sign{
      position: absolute;
      top: 33px;
  }
  .views-field-field-artifacts-images, .field-type-video-embed-field, .field-name-field-artifacts-images img, .doc-image,
  .field-name-field-map-images{
      width: 30%;
      float: left;
      margin-right: 2%;
      display: block;
  }
}

#quicktabs-book_page{
    font-family: 'PT Serif', arial;
  margin-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 25px;
  border-bottom: 1px solid #d7d7d7;
  overflow: hidden;
  ul.quicktabs-tabs {
    margin-bottom: 0;
  }
  .quicktabs-tabs{
    padding: 0 0 12px 26px;
    overflow: hidden;
    width: 183%;
    li{
      width: 6%;
      display: block;
      float: left;
      padding: 10px 1.2%;
    }
    li a{
        background:  url("../images/tabs_icons.png") no-repeat center center transparent;
        font-size: 0.85em;
        font-family: 'PT Sans', arial;
        color: #333;
        text-decoration: none!important;
        display: inline-block;
        padding-top: 22px;
        text-align: center;
        width: 100%;
    }
    li.active{
      background-color: #f1f1f1;
    }
    li.active a{
        background:  url("../images/tabs_icons_active.png") no-repeat center center transparent;
        color: #2692c6;
    }
    a#quicktabs-tab-book_page-0{
      background-position: 22px 0;
    }
    a#quicktabs-tab-book_page-1{
      background-position: -68px 0;
    }
    a#quicktabs-tab-book_page-2{
      background-position: -174px 0;
    }
    a#quicktabs-tab-book_page-3{
      background-position: -297px 0;
    }    
    a#quicktabs-tab-book_page-4{
      background-position: -410px 0;
    }
    a#quicktabs-tab-book_page-5{
      background-position: -72px 0;
    }    
    a#quicktabs-tab-book_page-6{
      background-position: -174px 0;
    }
    a#quicktabs-tab-book_page-7{
      background-position: -489px -4px;
    }   
    a#quicktabs-tab-book_page-8{
      background-position: -412px 0;
    }
  }
  .item-list{
    position: relative;
    overflow: hidden;
    &.step7 .quicktabs-tabs{
      margin-left: -15.5%;
    }
    &.step8 .quicktabs-tabs{
      margin-left: -31%;
    }
    &.step9 .quicktabs-tabs{
      margin-left: -46.5%;
    }
    &.step10 .quicktabs-tabs{
      margin-left: -62%;
    }
    &.step11 .quicktabs-tabs{
      margin-left: -77.5%;
    }
    &.step12 .quicktabs-tabs{
      margin-left: -93%;
    }
  }
  .left{
      background:  url("../images/left-arrow.png") no-repeat center center #fff;
      width: 14px;
      height: 23px;
      cursor: pointer;
      position: absolute;
      top: 22px;
      left: 0;
      opacity: 0.4;
  }
  .quicktabs-tabs{
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    margin-left: 0;
  }
  .right{
      background:  url("../images/right-arrow.png") no-repeat center center #fff;
      width: 14px;
      height: 23px;
      cursor: pointer;
      position: absolute;
      top: 22px;
      right: 0;
    }
    .item-list.step12{
      .left{
        opacity: 1;
      }
    }
    .step7, .step8, .step9, .step10, .step11{
      .left{
        opacity: 1;
      }
    }
    .last{
      .right{
        opacity: 0.4;
      }
    }
    .item-list.no-step{
      .right, .left{
        display: none;
      }
    }
}



.field-collection-container, .field-collection-view{
  border:none;
  margin: 0;
  padding: 0;
}
  /*top links*/

.node-type-book {
  .top-links{
    div{
      float: left;
    }
    a{
      color: #0099cc;
      font-style: 0.9em;
      text-decoration: none!important;
      text-transform: uppercase;
      font-family: 'PT Sans', arial;
      border-right: 1px solid;
      margin-right: 10px;
      padding-right: 10px;
    }
  }
  .addthis_sharing_toolbox{
    .at-svc-print span:before{
      content: "PRINT";
      background-image: none;
    }
  }
}


/*********  right sidebar at page books  **********/

.region-sidebar-second .block{
    margin-bottom: 40px;
    font-family: 'PT Serif', arial;
    background-color: #848484;
    padding-bottom: 10px;
}

#block-views-right-links-at-book-block, #block-views-right-links-at-book-block-1{
  padding-bottom: 4px;
  position: relative;
  .views-slideshow-controls-text-previous-processed, .views-slideshow-controls-text-pause-processed{
    display: none;
  }
  .block-title{
    color: #fff;
    background-color: #1d8fc4;
    font-weight: normal;
    font-size: 1.2em;
    text-align: center;
  }
  .bottom-text{
    padding: 0px 14px 10px;
    margin-top: -4px;
    color: #fff;
  }
  .views-field-field-second-title a, a .views-field-field-second-title{
    color: #fff;
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  .title{
    font-size: 1.1em;
  }
  .second-title{
    font-style: italic;
  }
  .text{
    line-height: 1.1em;
  }
  .views-slideshow-controls-text-next a{
    background: #000 url("../images/right-arrow-white.png") no-repeat scroll center center;
    height: 33px;
    position: absolute;
    right: 0;
    text-indent: -9999px;
    top: 40%;
    width: 35px;
    z-index: 200;
  }
}

#block-views-right-links-at-book-block{
  .block-title{
    background-color: #792a67;
  }
}

#block-views-right-links-at-book-block-1{
  .views-slideshow-controls-text-next a{
      top:47.4%;
  }
}

#block-views-right-links-at-book-block-2{
  .bottom-text{
    color: #fff;
    font-weight: normal;
    font-size: 1.1em;
    padding: 0px 14px;
  }
}

#block-views-right-links-at-book-block-3{
  background-color: #1d8fc4;
  padding: 12px 14px 28px;
  color: #fff;
  .block-title{
    font-style: italic;
    font-size: 0.9em;
    font-weight: normal;
  }
  .views-field-title{
    font-size: 1.4em;
    margin: 5px 0 10px;
  }
  .views-field-field-second-title{
    font-size: 1.1em;
    margin-bottom: 10px;
  }
  .views-field-field-text .field-content{
    float: left;
    font-size: 1.2em;
    color: #1d8fc4;
    background-color: #fff;
    margin-bottom: 10px;
    padding: 5px 10px;
  }
  .views-field-field-link{
    a{
      font-size: 0.9em;
      color: #fff;
      background: url("../images/little-right-arrow.png") no-repeat scroll center right;
      width: 90%;
      display: block;
      clear: left;
    }
  }
}


/*********  testemonies tabs **********/

.view-books-tab.view-display-id-block_6{
  .view-header{
    display: none;
  }
  .views-row-odd{
    clear: both;
  }
  .views-row{
    width: 48%;
  }
  .views-row-odd{
    float: left;
  }
  .views-row-even{
    float: right;
  }
  .field-name-field-video-title{
    max-height: 72px;
    overflow: hidden;
  }
}

.view-books-tab.view-display-id-block_6.one-two{
  .views-row-1{
    width: 48%;
  }
  .views-row-2{
    width: 48%;
  }
}

.view-books-tab.view-display-id-block_6.three-five{
  .views-row{
    .field-name-field-video{
      float: left;
      width: 50%;
      margin-right: 2%;
      margin-bottom: 20px;
    }
  }
  .field-name-field-video-title{
    float: right;
    width: 48%;
  }
}

.view-books-tab.view-display-id-block_6.six-more{
  .views-row{
    border-top: 1px solid #e5e5e5;
    padding-top: 20px;
    .field-name-field-video{
      float: left;
      width: 30%;
      margin-right: 5%;
      margin-bottom: 20px;
    }
  }
  .views-row-1, .views-row-2{
    border: none;
  }
  .field-name-field-video-title{
    float: right;
    width: 65%;
  }
}

.view-books-tab.view-display-id-block_5{
    .views-field-field-files{
        font-size: 1.1em;    
        position: relative;  
        a{
          text-decoration: none!important;
          position: relative;
          margin-bottom: 35px;
          width: 78%;
          float: right;
          max-height: 72px;
          overflow: hidden; 
        }
    }
    .views-row-odd{
      clear: both;
    }
    .views-row{
      width: 48%;
      border-top: 1px solid #e5e5e5;
      padding-top: 20px;
    }
    .views-row-odd{
      float: left;
    }
    .views-row-even{
      float: right;
    }
    .views-row-1, .views-row-2{
      border: none;
    }
    img{
      margin-right: 2%;
      width: 20%;
    }
}

/********   usefull article   **********/

.field-name-field-helpful{
  clear: both;
  margin-top: 55px;
  .is-useful-maybe{
    display: none;
  }
  .is-useful-link{
    float: left;
    margin-left: 20px;
    a{
      color: #666;
      background: url("../images/useful.png") no-repeat left center #e6e6e6;
      text-decoration: none!important;
      padding: 9px 18px 9px 35px;
    }
    &.selected a{
      background-color: #ea8418;
      color: #fff;
    }
  }
  .is-useful-yes a{
    background-position: left -146px;
  }
  .is-useful-yes.selected a{
    background-position: left -56px;

  }
  .is-useful-no a{
    background-position: left -100px;
  }
  .is-useful-no.selected a{
    background-position: left -7px;
  }
  label{
    font-family: 'PT Sans', arial;
    font-weight: normal;
    font-size: 1.2em;
    float: left;
  }
}

.node-type-book #comments{
  display: none;
  #field-why-helpful-add-more-wrapper, #comment-body-add-more-wrapper{
    label{
      font-family: 'PT Sans', arial;
      font-weight: normal;
    }
    .grippie, .form-required{
      display: none;
    }
    textarea{
      border: 1px solid #b8b8b8;
    }
    .form-item{
      margin-bottom: 5px;
    }
  }
  input.form-submit{
    background-color: #238ec3;
    color: #fff;
    border: none;
    padding: 0 5px;
    float: right;
  }
}

.node-type-book #comments.display{
  display: block;
}

.is_useful-processed{
  position: relative;
}

.ajax-progress-throbber {
    position: absolute;
    right: 0;
}


// Theme the gallery 
#fotorama {
  background-color: #EAEAEA;
  .fotorama__wrap , 
  .fotorama__stage ,
  .fotorama__stage__frame ,
  .fotorama__stage__shaft  {
    width: 100% !important;
  }
  .fotorama__stage {
    border:0; 
  }
  .fotorama__stage__frame.fotorama__active {
    max-width: 687px !important;
    width: 100%;
    img {
      max-width: 688px !important;
      width: 100%;
    }
  }
  .fotorama__nav-wrap {
    height: 80px;
    .fotorama__nav {
      position: relative;
      top: 5px;
    }
    img {
      @include rounded;
      top: 0 !important;
    }
    .fotorama__nav__frame {
      border: 2px solid #fff !important;
      @include rounded;
      padding:0 !important;
      margin-right: 5px;
    }
    .fotorama__thumb {
      background-color: none !important;
    }
    .fotorama__thumb-border {
      border: 0 !important;
      background-image: none !important;
    }
  }
}

// The enlarge icon
.block-costum {
  position: relative;
  #tgl_overlay {
    width: 31px;
    height: 31px;
    top: 10px;
    position: absolute;
    right: 10px;
    left: none;
  }
}

// The overlay
.my_overlay {
  background-color: rgba(0, 0, 0, 0.71);
  .img_count {
    float: left;
  }
  .addthis_native_toolbox {
    margin-right: -40px;
  }
  #right_bar {
    width: 28%;
    background-color: rgba(0, 0, 0, 0.39);
  }
  div.myoverlay {
    width: 72%;
  }
  div#mid .wrapper,
  #fotorama_ovr {
    max-width:750px;
    width: 100%;
  }
  .fotorama__stage {
    border: 10px;
  }
}










