
 @mixin res($media) {
  @if $media == s {
    @media (max-width: 480px) { @content; }
  }
  @else if $media == m {
    @media (min-width: 481px) and (max-width: 767px) { @content; }
  }
  @if $media == s-m {
    @media (max-width: 767px) { @content; }
  }
}

@mixin width(){
  width: 1064px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: border-box;
}

$default: #020101;
$blue: #114560;
$azure: #208dc9;
$title: #1f769b;

/**********  header  ********/

#top-bar{
  .left{
    float: right;
  }
  .right{
    float: left;
    .welcome{
      background: url("../images/icon_user.png") no-repeat right center transparent;
      padding-right: 20px;
      padding-left: 0;
    }
    .logout{
      margin-right: 47px;
      margin-left: 0;
    }
  }
}

.top{
  .top-left{
    float: right;
  }
  #block-menu-menu-top-menu{
    float: right;
    ul{
      a{
        border-right: 1px solid;
        padding-right: 0px;
        margin-right: 0px;
        border-left: 1px solid;
        padding-left: 7px;
        margin-left: 7px;
      }
    }
  }
}

#block-menu-menu-square, #block-menu-menu-square--2{
  float: left;
  .menu a{
    float: left;
    margin-right: 15px;
    margin-left: 0;
  }
}

.region-header{
  clear: left;
}

/**********  lang block  ********/

#block-lang-dropdown-language{
  float: left;
 .form-type-select {
    float: right;
    background:  url("../images/select.png") no-repeat left center #eee;
    border-radius: 3px 3px 0 0;
  }
  .form-type-select select {
    padding: 0px 0px 0 23px;
  }
}

/**********  main-menu ********/

#navigation{
  #main-menu{
    float: right;
    background:  url("../images/menu.png") no-repeat right center transparent;
    padding: 11px 40px 0px 0px;
    li{
      padding-left: 22px;
      padding-right: 0;
    }
  }
}

#search-block-form{
  float: left;
}

/**********  footer  ********/

#footer-wrapper{
  #footer{
    .block{
      float: right;
      padding-left: 5%;
      padding-right: 0;
    }
    #block-block-3{
      padding-left: 0;
    }
    #block-block-5{
      padding-right: 0;
      padding-left: 0;
      .content div{
        margin-left: 2px;
        margin-right: 0;
        a{
          float: right;
        }
      }
    }
    #block-menu-menu-square--2{
      padding-right: 0;
      padding-left: 0;
      ul{
        margin: 0;
      }
      a{
        float: left;
        margin-left: 0;
        margin-right: 15.5%;
      }
      .last a{
        margin-right: 0;
      }
    }
  }
}

/**********  sidebar  ********/

.sidebar-first #content {
    float: left;
}

/********  book page  ********/

.node-type-book{
  .block-book{
    margin-left: 5%;
    margin-right: 0;
    float: right;
  }
  article{
    float: left;
  }
  .book-navigation{
   .page-links{
      float: left;
    }
    .right-arrow{
        background:  url("../images/left-arrow.png") no-repeat center center transparent;
    }
    .left-arrow{
        background:  url("../images/right-arrow.png") no-repeat center center transparent;
    }
    .current-page{
      float: right;
    }
    .page-previous{
      margin-left: 2%;
      margin-right: 0;
      .left-arrow{
        float: left;
      }
      .text{
        float: right;
      }
    }
    .page-next{
      margin-right: 2%;
      margin-left: 0;
      .right-arrow{
        float: right;
      }
      .text{
        float: left;
      }
    }
  }
}

#block-book-navigation .menu{
  a{
    padding: 10px 5px 10px 0px;
  }
  .is-collapsed > a{
    background:  url("../images/navigate-left.png") no-repeat right center transparent;
  }
  li{
    li a{
      padding-right: 30px;
      padding-left: 0;
    }
  }
}

/********  book page  ********/

.node-type-book{
    #content {
      float: right;
  }
  .addthis_sharing_toolbox{
    float: right;
    margin-left: 10px;
    margin-right: 0;
  }
  .block-book{
    margin-left: 4%;
    margin-right: 0;
    float: right;
  }
  article{
    float: left;
  }
  .book-navigation{
   .page-links{
      float: left;
    }
    .page-title{
      float: right;
    }
    .page-previous{
      margin-left: 2%;
      margin-right: 0;
      float: right;
      .left-arrow{
        float: left;
      }
      .text{
        float: right;
      }
    }
    .page-next{
      margin-left: 0;
      margin-right: 2%;
      float: left;
      .right-arrow{
        float: right;
      }
      .text{
        float: left;
      }
    }
  }
}

#block-book-navigation .menu{
  a{
    padding: 10px 5px 10px 20px;
  }
  .is-collapsed > a{
    background:  url("../images/navigate-right.png") no-repeat left center transparent;
  }
  .is-expanded > a{
    background:  url("../images/navigate-bottom.png") no-repeat left center transparent;
  }
  li{
    li a{
      padding-right: 30px;
      padding-left: 0;
    }
  }
}

#quicktabs-tabpage-book_page-0{
  .views-row{
      float: left;
      clear: left;
      margin-right: 2%;
      margin-left: 0;
  }
  .views-row-1{
    clear: right;
    float: right;
    margin-right: 0;
    .node-type{
      float: left;
    }
    .field-name-field-file-image-title-text, .title, .file a, .field-name-field-video-title{
      float: right;
    }
  }
  .field-name-field-gallery-type, .node-type, .Testimonies{
    float: left;
  }
  .field-collection-container{
      float: right;
      margin-left: 2%;
      margin-right: 0;
  }
  .field-name-field-file-image-title-text, .views-field-title, .title, .file a, .field-name-field-video-title{       
        float: left;         
        padding-right: 1%;
        padding-left: 0;
        text-align:right;
  }
  .node-type{
      float: left;
  }
  .views-field-field-artifacts-images, .field-type-video-embed-field, .field-name-field-artifacts-images img, .doc-image,
  .field-name-field-map-images{
      float: right;
      margin-left: 2%;
      margin-right: 0;
  }
}

#quicktabs-book_page{
  .quicktabs-tabs{
    padding: 0 26px 12px 0px;
    li{
      float: right;
    }
  }
  .item-list{
    &.step7 .quicktabs-tabs{
      margin-right: -15.5%;
      margin-left: 0;
    }
    &.step8 .quicktabs-tabs{
      margin-right: -31%;
      margin-left: 0;
    }
    &.step9 .quicktabs-tabs{
      margin-right: -46.5%;
      margin-left: 0;
    }
  }
  .left{
      right: 0;
      left: auto;
  }
  .quicktabs-tabs{
    margin-right: 0;
  }
  .right{
      left: 0;
      right: auto;
    }
}

  /*top links*/

.node-type-book {
  .top-links{
    div{
      float: right;
    }
    a{
      border-left: 1px solid;
      margin-left: 10px;
      padding-left: 10px;
      border-right: none;
      margin-right: 0;
      padding-right: 0;
    }
  }
}


/*********  right sidebar at page books  **********/

#block-views-right-links-at-book-block, #block-views-right-links-at-book-block-1{
  .views-slideshow-controls-text-next a{
    right: auto;
    left: 0;
  }
}

#block-views-right-links-at-book-block-3{
  .views-field-field-text .field-content{
    float: right;
  }
  .views-field-field-link{
    a{
      background: url("../images/little-right-arrow.png") no-repeat scroll center left;
      clear: right;
    }
  }
}


/*********  testemonies tabs **********/

.view-books-tab.view-display-id-block_6{
  .views-row-odd{
    float: right;
  }
  .views-row-even{
    float: left;
  }
}

.view-books-tab.view-display-id-block_6.three-five{
  .views-row{
    .field-name-field-video{
      float: right;
      margin-left: 2%;
      margin-right: 0;
    }
  }
  .field-name-field-video-title{
    float: right;
    width: 48%;
  }
}

.view-books-tab.view-display-id-block_6.six-more{
  .views-row{
    .field-name-field-video{
      float: right;
      margin-left: 5%;
      margin-right: 0;
    }
  }
  .field-name-field-video-title{
    float: left;
  }
}

.view-books-tab.view-display-id-block_5{
    .views-field-field-files{ 
        a{
          float: left;
        }
    }
    .views-row-odd{
      float: right;
    }
    .views-row-even{
      float: left;
    }
    img{
      margin-left: 2%;
      margin-right: 0;
    }
}

/********   usefull article   **********/

.field-name-field-helpful{
  .is-useful-link{
    float: right;
    margin-left: 0px;
    margin-right: 20px;
    a{
      background: url("../images/useful.png") no-repeat right center #e6e6e6;
      padding: 9px 35px 9px 18px;
    }
  }
  .is-useful-yes a{
    background-position: right -146px;
  }
  .is-useful-yes.selected a{
    background-position: right -56px;

  }
  .is-useful-no a{
    background-position: right -100px;
  }
  .is-useful-no.selected a{
    background-position: righ -7px;
  }
  label{
    float: right;
  }
}

.node-type-book #comments{
  input.form-submit{
    float: left;
  }
}

.ajax-progress-throbber {
    right: auto;
    left: 0;
}